In [2]:
print("hello pandas")

hello pandas

In [21]:
import pandas as pd

In [23]:
s1 = pd.Series([35,54,69,85,45,26,86])

In [25]:
type(s1)

pandas.core.series.Series

In [27]:
print(s)

0    35
1    54
2    69
3    85
4    45
5    26
6    86
dtype: int64

In [44]:
s2 = pd.Series([35,54,69,85,45,26,86], index=["Ganesh", "Ram","Dhananjay","Vikas","Abhishek","Chetan","Mahesh"])

In [46]:
s2

Ganesh       35
Ram          54
Dhananjay    69
Vikas        85
Abhishek     45
Chetan       26
Mahesh       86
dtype: int64

In [64]:
s2["Mahesh"]

86

In [66]:
pd.DataFrame(s2)

            0
Ganesh     35
Ram        54
Dhananjay  69
Vikas      85
Abhishek   45
Chetan     26
Mahesh     86

In [72]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [76]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [78]:
df.columns

Index(['name', 'age', 'city'], dtype='object')